.comment {
  display: flex;
  justify-content: flex-start;
  column-gap: 1rem;

  margin-top: 2rem;
}

.comment + .comment {
  margin-top: 1.5rem;
}

.commentBox {
  flex: 1;
}

.commentContent {
  background-color: var(--grey-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.authorAndTime {
  display: flex;
  flex-direction: column;
}

.authorAndTime > strong {
  color: var(--grey-100);
  line-height: 160%;
  font-size: 0.875rem;
}

.authorAndTime > time {
  color: var(--grey-400);
  font-size: 0.75rem;
  line-height: 160%;
}

.commentContent > header > button {
  background: transparent;
  border: none;
  border-radius: 2px;
  color: var(--grey-400);
  line-height: 0;
  cursor: pointer;
}

.commentContent > header > button:hover {
  color: var(--red-300);
}

.commentContent > p {
  margin-top: 1rem;
  color: var(--grey-300);
  line-height: 160%;
}

.commentBox > footer > button {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--grey-400);
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;
}

.commentBox > footer > button:hover {
  color: var(--green-300);
}

.commentBox > footer > button > svg {
  margin-right: 0.625rem;
}

.commentBox > footer > button > span::before {
  content: "\2022";
  padding: 0 0.25rem;
}
