.post {
  background: var(--gray-800);
  padding: 2.5rem;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile img {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileInfo strong {
  color: var(--gray-100);
  line-height: 160%;
}

.profileInfo span {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 160%;
}

.postStatus {
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--gray-400);
}
