.post {
  background: var(--grey-800);
  padding: 2.5rem;
  border-radius: 8px;
}

.post + .post {
  margin-top: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileInfo strong {
  color: var(--grey-100);
  line-height: 160%;
}

.profileInfo span {
  color: var(--grey-400);
  font-size: 0.875rem;
  line-height: 160%;
}

.postStatus {
  font-size: 0.875rem;
  line-height: 160%;
  color: var(--grey-400);
}

.content {
  margin-top: 1.5rem;
}

.content p {
  color: var(--grey-300);
  line-height: 160%;
}

.content p + p {
  margin-top: 1rem;
}

.content p a {
  color: var(--green-500);
  text-decoration: none;
  font-weight: bold;
  line-height: 160%;
  border-radius: 2px;
}

.content p a:hover {
  color: var(--green-300);
}

.commentForm {
  border-top: 1px solid var(--grey-600);
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.commentForm strong {
  display: block;
  width: 100%;
  color: var(--grey-100);
  line-height: 160%;
  margin-bottom: 1rem;
}

.commentForm textarea {
  width: 100%;
  height: 6rem;
  padding: 0.8125rem 1rem;
  background: var(--grey-900);
  color: var(--grey-100);
  line-height: 140%;
  border: none;
  border-radius: 8px;
  resize: none;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
  margin-top: 1rem;
}

.commentForm button[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 6.75rem;
  height: 3rem;

  border: none;
  border-radius: 8px;
  background: var(--green-500);

  font-weight: bold;
  color: var(--white);

  cursor: pointer;

  transition: background 0.1s;
}

.commentForm button:hover {
  background: var(--green-300);
}

.commentList {
  margin-top: 2rem; 
}
